html {
    box-sizing: border-box
}
*, *:after, *:before {
    box-sizing: inherit;
}
   
body { 
    background: rgb(5,0,87);
    background: linear-gradient(0deg, rgba(5,0,87,1) 0%, rgba(6,6,139,1) 18%, rgba(0,164,198,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    background: whitesmoke;
    border-radius: 10px;
    weight: 150px;
    height: 100px;
    -webkit-box-shadow: 3px 3px 5px 6px rgb(0, 0, 0); 
  -moz-box-shadow:    3px 3px 5px 6px rgb(0, 0, 0);  
  box-shadow:         3px 3px 5px 6px rgb(0, 0, 0);
}
.card__name {
    font-style: bold;
}
.card__function {
    font-style: italic;
}
.card__story{

}
.card__links {
    font-size: 10px;
}